<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="BargainRecord"> 
    <resultMap type="com.hrxc.auction.domain.vo.BargainRecordVo" id="BargainRecordResultMap"> 
        <result column="PK_ID" property="pkId"></result> 
        <result column="PADDLE_NO" property="paddleNo"></result>
        <result column="CUST_NAME" property="custName"></result>
        <result column="CERT_NO" property="certNo"></result>
        <result column="CUST_TEL" property="custTel"></result>
        <result column="GOODS_NO" property="goodsNo"></result> 
        <result column="BARGAIN_CONFIRM_NO" property="bargainConfirmNo"></result> 
        <result column="HAMMER_PRICE" property="hammerPrice"></result> 
        <result column="COMMISSION" property="commission"></result> 
        <result column="OTHER_FUND" property="otherFund"></result> 
        <result column="BARGAIN_PRICE" property="bargainPrice"></result> 
        <result column="PROJECT_NO" property="projectNo"></result> 
        <result column="SETTLE_STATE" property="settleState"></result> 
        <result column="PAYMENT_NO" property="paymentNo"></result> 
        <result column="GOODS_NAME" property="goodsName"></result>
        <result column="CLIENT_NO" property="clientNo"></result>
    </resultMap> 
    <sql id="findAllWhere">
        <where> 
            <if test="pkId!= null and pkId!= ''"> 
                AND a.PK_ID=#{pkId} 
            </if> 
            <if test="paddleNo!= null and paddleNo!= ''"> 
                AND a.PADDLE_NO=#{paddleNo} 
            </if> 
            <if test="goodsNo!= null and goodsNo!= ''"> 
                AND a.GOODS_NO=#{goodsNo} 
            </if> 
            <if test="bargainConfirmNo!= null and bargainConfirmNo!= ''"> 
                AND a.BARGAIN_CONFIRM_NO=#{bargainConfirmNo} 
            </if> 
            <if test="hammerPrice!= null"> 
                AND a.HAMMER_PRICE=#{hammerPrice} 
            </if> 
            <if test="commission!= null"> 
                AND a.COMMISSION=#{commission} 
            </if> 
            <if test="otherFund!= null"> 
                AND a.OTHER_FUND=#{otherFund} 
            </if> 
            <if test="bargainPrice!= null"> 
                AND a.BARGAIN_PRICE=#{bargainPrice} 
            </if> 
            <if test="projectNo!= null and projectNo!= ''"> 
                AND a.PROJECT_NO=#{projectNo} 
            </if> 
            <if test="settleState!= null and settleState!= ''"> 
                AND a.SETTLE_STATE=#{settleState} 
            </if> 
            <if test="paymentNo!= null and paymentNo!= ''"> 
                AND a.PAYMENT_NO=#{paymentNo} 
            </if> 
        </where>
    </sql>
    
    <select id="getAllObjectInfo" resultMap="BargainRecordResultMap" parameterType="BargainRecordVo"> 
        SELECT 
        a.PK_ID,
        a.PADDLE_NO,
        c.CUST_NAME,
        c.CERT_NO,
        c.CUST_TEL, 
        a.GOODS_NO,
        a.BARGAIN_CONFIRM_NO,
        a.HAMMER_PRICE,
        a.COMMISSION,
        a.OTHER_FUND,
        a.BARGAIN_PRICE, 
        a.PROJECT_NO,
        a.SETTLE_STATE, 
        a.PAYMENT_NO,
        b.GOODS_NAME,
        b.CLIENT_NO
        FROM BARGAIN_RECORD a LEFT JOIN GOODS_LIST b on a.PROJECT_NO=b.PROJECT_NO and a.GOODS_NO=b.GOODS_NO
        LEFT JOIN BIDDING_PADDLE c on a.PROJECT_NO=c.PROJECT_NO and a.PADDLE_NO=c.PADDLE_NO
        <include refid="findAllWhere"/>  
        ORDER BY a.GOODS_NO
    </select> 
    
    <insert id="insertObject" parameterType="BargainRecord"> 
        INSERT INTO BARGAIN_RECORD(PK_ID,PADDLE_NO,GOODS_NO,BARGAIN_CONFIRM_NO,HAMMER_PRICE,COMMISSION,OTHER_FUND,BARGAIN_PRICE,PROJECT_NO,SETTLE_STATE) 
        VALUES (#{pkId},#{paddleNo},#{goodsNo},#{bargainConfirmNo},#{hammerPrice},#{commission},#{otherFund},#{bargainPrice},#{projectNo},#{settleState}) 
    </insert> 
    
    <delete id="deleteObjectById" parameterType="string"> 
        DELETE FROM BARGAIN_RECORD WHERE PK_ID=#{pkId} 
    </delete> 

    <update id="updateObjectById" parameterType="BargainRecord"> 
        UPDATE BARGAIN_RECORD 
        <set> 
            <if test="paddleNo != null"> 
                PADDLE_NO = #{paddleNo}, 
            </if> 
            <if test="goodsNo != null"> 
                GOODS_NO = #{goodsNo}, 
            </if> 
            <if test="bargainConfirmNo != null"> 
                BARGAIN_CONFIRM_NO = #{bargainConfirmNo}, 
            </if> 
            <if test="hammerPrice != null"> 
                HAMMER_PRICE = #{hammerPrice}, 
            </if> 
            <if test="commission != null"> 
                COMMISSION = #{commission}, 
            </if> 
            <if test="otherFund != null"> 
                OTHER_FUND = #{otherFund}, 
            </if> 
            <if test="bargainPrice != null"> 
                BARGAIN_PRICE = #{bargainPrice}, 
            </if> 
            <if test="projectNo != null"> 
                PROJECT_NO = #{projectNo}, 
            </if> 
            <if test="settleState != null"> 
                SETTLE_STATE = #{settleState}, 
            </if> 
            <if test="paymentNo != null"> 
                PAYMENT_NO = #{paymentNo}, 
            </if> 
        </set> 
        WHERE PK_ID=#{pkId} 
    </update> 
</mapper> 