<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="BargainRecord"> 
    <resultMap type="com.hrxc.auction.domain.vo.BargainRecordVo" id="BargainRecordResultMap"> 
        <result column="PK_ID" property="pkId"></result> 
        <result column="PADDLE_NO" property="paddleNo"></result> 
        <result column="GOODS_NO" property="goodsNo"></result> 
        <result column="BARGAIN_CONFIRM_NO" property="bargainConfirmNo"></result> 
        <result column="HAMMER_PRICE" property="hammerPrice"></result> 
        <result column="COMMISSION" property="commission"></result> 
        <result column="OTHER_FUND" property="otherFund"></result> 
        <result column="BARGAIN_PRICE" property="bargainPrice"></result> 
        <result column="PROJECT_NO" property="projectNo"></result> 
        <result column="SETTLE_STATE" property="settleState"></result> 
        <result column="PAYMENT_NO" property="paymentNo"></result> 
    </resultMap> 
    <sql id="findAllWhere">
        <where> 
            <if test="pkId!= null and pkId!= ''"> 
                AND PK_ID=#{pkId} 
            </if> 
            <if test="paddleNo!= null and paddleNo!= ''"> 
                AND PADDLE_NO=#{paddleNo} 
            </if> 
            <if test="goodsNo!= null and goodsNo!= ''"> 
                AND GOODS_NO=#{goodsNo} 
            </if> 
            <if test="bargainConfirmNo!= null and bargainConfirmNo!= ''"> 
                AND BARGAIN_CONFIRM_NO=#{bargainConfirmNo} 
            </if> 
            <if test="hammerPrice!= null"> 
                AND HAMMER_PRICE=#{hammerPrice} 
            </if> 
            <if test="commission!= null"> 
                AND COMMISSION=#{commission} 
            </if> 
            <if test="otherFund!= null"> 
                AND OTHER_FUND=#{otherFund} 
            </if> 
            <if test="bargainPrice!= null"> 
                AND BARGAIN_PRICE=#{bargainPrice} 
            </if> 
            <if test="projectNo!= null and projectNo!= ''"> 
                AND PROJECT_NO=#{projectNo} 
            </if> 
            <if test="settleState!= null and settleState!= ''"> 
                AND SETTLE_STATE=#{settleState} 
            </if> 
            <if test="paymentNo!= null and paymentNo!= ''"> 
                AND PAYMENT_NO=#{paymentNo} 
            </if> 
        </where>
    </sql>
    
    <select id="getAllObjectInfo" resultMap="BargainRecordResultMap" parameterType="BargainRecordVo"> 
        SELECT 
        PK_ID,
        PADDLE_NO, 
        GOODS_NO,
        BARGAIN_CONFIRM_NO,
        HAMMER_PRICE,
        COMMISSION,
        OTHER_FUND,
        BARGAIN_PRICE, 
        PROJECT_NO,
        SETTLE_STATE, 
        PAYMENT_NO
        FROM BARGAIN_RECORD 
        <include refid="findAllWhere"/>  
        ORDER BY PADDLE_NO,GOODS_NO
    </select> 
    
    <insert id="insertObject" parameterType="BargainRecord"> 
        INSERT INTO BARGAIN_RECORD(PK_ID,PADDLE_NO,GOODS_NO,BARGAIN_CONFIRM_NO,HAMMER_PRICE,COMMISSION,OTHER_FUND,BARGAIN_PRICE,PROJECT_NO,SETTLE_STATE) 
        VALUES (#{pkId},#{paddleNo},#{goodsNo},#{bargainConfirmNo},#{hammerPrice},#{commission},#{otherFund},#{bargainPrice},#{projectNo},#{settleState}) 
    </insert> 
    
    <delete id="deleteObjectById" parameterType="string"> 
        DELETE FROM BARGAIN_RECORD WHERE PK_ID=#{pkId} 
    </delete> 

    <update id="updateObjectById" parameterType="BargainRecord"> 
        UPDATE BARGAIN_RECORD 
        <set> 
            <if test="paddleNo != null"> 
                PADDLE_NO = #{paddleNo}, 
            </if> 
            <if test="goodsNo != null"> 
                GOODS_NO = #{goodsNo}, 
            </if> 
            <if test="bargainConfirmNo != null"> 
                BARGAIN_CONFIRM_NO = #{bargainConfirmNo}, 
            </if> 
            <if test="hammerPrice != null"> 
                HAMMER_PRICE = #{hammerPrice}, 
            </if> 
            <if test="commission != null"> 
                COMMISSION = #{commission}, 
            </if> 
            <if test="otherFund != null"> 
                OTHER_FUND = #{otherFund}, 
            </if> 
            <if test="bargainPrice != null"> 
                BARGAIN_PRICE = #{bargainPrice}, 
            </if> 
            <if test="projectNo != null"> 
                PROJECT_NO = #{projectNo}, 
            </if> 
            <if test="settleState != null"> 
                SETTLE_STATE = #{settleState}, 
            </if> 
            <if test="paymentNo != null"> 
                PAYMENT_NO = #{paymentNo}, 
            </if> 
        </set> 
        WHERE PK_ID=#{pkId} 
    </update> 
</mapper> 